h1{
		margin-left: 640px;
	}
	.first{
      margin-left:550px;
	}
	.second{
		margin-left:640px;
	}
	.third{
		margin-left:600px;
	}
	
	td{
         border:1px solid;
	    
	}

	[colspan="3"]{
		
		text-align:center;font-weight:bold;
      }

      [colspan="2"]{
		
		text-align:center;font-weight:bold;
      }

      .first table{
         width:50%;
      	border:1px solid;
      }

       .second table{
         
          
          width:30%;
          border:1px solid ;

      }

        .third table{
          
          
          border:1px solid;
          width:40%;

      }
      #par{
      	font-weight:bold;
      }
      